{{ define "content" }}
    {{ $instytucje := where site.RegularPages ".Section" "instytucje" }}
    <div class="header-pa header">
        <hr class="line1">
        <h1>Członkowie wspierający</h1>
    </div>

    <div class="container">
        <div class="row">
            {{ range where $instytucje ".Params.typ" "intersect" (slice "członek wspierający") }}
            <div class="col-md-3" style="height: 200px">
                {{ $images := .Resources.ByType "image" }}
                {{ $logo := index $images 0 }}
                <a href="{{ .Params.link }}" target="_blank"><img src="{{ $logo.Permalink }}" class="img-thumbnail" style="width: 250px" alt="{{ .Name }}"></a>
            </div>
            {{ end }}
        </div>
    </div>

<div class="header-pa header">
    <hr class="line1">
    <h1>Partnerzy</h1>
</div>

<div class="container">
    <div class="row">
        {{ range where $instytucje ".Params.typ" "intersect" (slice "partner") }}
        <div class="col-md-2" style="height: 200px">
            {{ $images := .Resources.ByType "image" }}
            {{ $logo := index $images 0 }}
            <a href="{{ .Params.link }}" target="_blank"><img src="{{ $logo.Permalink }}" class="img-thumbnail" alt="{{ .Name }}"></a>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}
