<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polska Sekcja IBBY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">    
</head>

<body>


<!-- -----------navbar---------------------- -->

<nav class="big-screen-nav">
  <ul id="main">
    
    <li>O Nas
      <ul class="drop o-nas-drop">
        <div>
         <li><a href="/info/kim-jestesmy/">Kim jestesmy</a></li>
         <li><a href="/info/zarzad">Zarzad IBBY</a></li>
         <li><a href="/info/statut">Statut</a></li>
         <li><a href="/info/sprawozdania">Sprawozdania</a></li>
        </div>
      </ul>
    </li>
     <li><a href="#ksiazka-roku">Ksiazka Roku</a>
      <ul class="drop">
        <div>
          <li><a href="#">Opis</a></li>
          <li><a href="#">Kategorie</a></li>
          <li><a href="#">Laureaci</a></li>
          <li><a href="#">Zglos kandydature</a>
        </div>
      </ul>
    </li>

    <li><a href="#medal">Medal</a>
      <ul class="drop">
        <div>
          <li><a href="#">Opis</a></li>
          <li><a href="#">Laureaci</a></li>
        </div>
      </ul>
    </li>

    <li>Miedzynarodowo
      <ul class="drop">
        <div>
         <li><a href="#">Item1</a></li>
         <li><a href="#">Item2</a></li>
         <li><a href="#">Item3</a></li>
         <li><a href="#">Item4</a></li>
         <li><a href="#">Item5</a></li>
        </div>
      </ul>
    </li>

    <li><a href="/noty">Polecane ksiazki</a></li>

    <li><a href="#">Formularze</a></li>
    <li><a href="#kontakt">Kontakt</a></li>
  </ul>
</nav>


<!-- ---------small menu--------
 -->

  <div class="small-menu">
    <div>
    
      <div class="nav_btn">
        <h1>Menu</h1>
      </div>
    </div>
      <ul id="nav">
        <li><a href="#">O Nas</a>
            <ul>
             <li><a href="/info/kim-jestesmy/">Kim jestesmy</a></li>
             <li><a href="/info/zarzad">Zarzad IBBY</a></li>
             <li><a href="/info/statut">Statut</a></li>
             <li><a href="/info/sprawozdania">Sprawozdania</a></li>
        </ul>
        </li>
            <li><a href="#">Ksiazka Roku</a>
        <ul>
          <li><a href="#">Opis</a></li>
          <li><a href="#">Kategorie</a></li>
          <li><a href="#">Laureaci</a></li>
          <li><a href="#">Zglos kandydature</a>
        </ul>
            </li>
            <li><a href="#">Medal</a>
        <ul>
          <li><a href="#">Opis</a></li>
          <li><a href="#">Laureaci</a></li>
        </ul>
            </li>
        <li><a href="#">Miedzynarodowo</a>
        <ul>
         <li><a href="#">Item1</a></li>
         <li><a href="#">Item2</a></li>
         <li><a href="#">Item3</a></li>
         <li><a href="#">Item4</a></li>
         <li><a href="#">Item5</a></li>
      </ul>
        </li>
        <li><a href="/noty/">Polecane ksiazki</a></li>
        <li><a href="#">Formularze</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
      </ul>
  </div>

{{ block "content" . }}
 - - - - - -
{{ end }}
<!-- -------------------kontakt------------------ -->

<section class="kontakt" id="kontakt">
  <div class="container">
    <div class="row row-ko">
    
      <div class="col-md-4 col-kontakt">
        <h3>Dane rejestrowe</h3>
        <p>NIP: 525-15-75-002<br>
REGON: 011201900<br>
KRS: 0000164995</p>
      </div>
      <div class="col-md-4 col-kontakt">
        <h3>Adres</h3>
        <p>Polska Sekcja IBBY<br>
Multimedialna Biblioteka<br>
dla Dzieci i Mlodziezy nr XXXI<br>
ul. Tyniecka 40a<br>
02-621 Warszawa<br>
e-mail: ibby@ibby.pl
        </p>
        <span>
          <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
          
        </span>
      </div>
      <div class="col-md-4 col-kontakt">
        <h3>Konto bankowe</h3>
        <p>Powszechna Kasa Oszczednosci<br> Bank Polski SA<br>
Oddzial 101 Warszawa<br>
Al. Jana Pawla II 25<br>
00-854 Warszawa<br>
80 1440 1299 0000 0000 0187 5485</p>
      </div>
    </div>
  </div>
</section>


<!-- --------------top button--------------- -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow89.js"></script>


<!-- ----------------scripts---------------- -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="app.js"></script> 
</body>
</html>