<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polska Sekcja IBBY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">    
</head>

<body>


<!-- -----------navbar---------------------- -->

<nav class="big-screen-nav">
  <ul id="main">
    
    <li>O Nas
      <ul class="drop o-nas-drop">
        <div>
         <li><a href="#">Kim jestesmy</a></li>
         <li><a href="#">Zarzad IBBY</a></li>
         <li><a href="#">Statut</a></li>
         <li><a href="#">Sprawozdania</a></li>
         <li><a href="#">Archiwalia</a></li>
        </div>
      </ul>
    </li>
     <li><a href="#ksiazka-roku">Ksiazka Roku</a>
      <ul class="drop">
        <div>
          <li><a href="#">Opis</a></li>
          <li><a href="#">Kategorie</a></li>
          <li><a href="#">Laureaci</a></li>
          <li><a href="#">Zglos kandydature</a>
        </div>
      </ul>
    </li>

    <li><a href="#medal">Medal</a>
      <ul class="drop">
        <div>
          <li><a href="#">Opis</a></li>
          <li><a href="#">Laureaci</a></li>
        </div>
      </ul>
    </li>

    <li>Miedzynarodowo
      <ul class="drop">
        <div>
         <li><a href="#">Item1</a></li>
         <li><a href="#">Item2</a></li>
         <li><a href="#">Item3</a></li>
         <li><a href="#">Item4</a></li>
         <li><a href="#">Item5</a></li>
        </div>
      </ul>
    </li>

    <li><a href="#">Polecane ksiazki</a></li>

    <li><a href="#">Formularze</a></li>
    <li><a href="#kontakt">Kontakt</a></li>
  </ul>
</nav>


<!-- ---------small menu--------
 -->

  <div class="small-menu">
    <div>
    
      <div class="nav_btn">
        <h1>Menu</h1>
      </div>
    </div>
      <ul id="nav">
        <li><a href="#">O Nas</a>
            <ul>
          <li><a href="#">Kim jestesmy</a></li>
          <li><a href="#">Zarzad IBBY</a></li>
          <li><a href="#">Statut</a></li>
          <li><a href="#">Sprawozdania</a></li>
          <li><a href="#">Archiwalia</a></li>
        </ul>
        </li>
            <li><a href="#">Ksiazka Roku</a>
        <ul>
          <li><a href="#">Opis</a></li>
          <li><a href="#">Kategorie</a></li>
          <li><a href="#">Laureaci</a></li>
          <li><a href="#">Zglos kandydature</a>
        </ul>
            </li>
            <li><a href="#">Medal</a>
        <ul>
          <li><a href="#">Opis</a></li>
          <li><a href="#">Laureaci</a></li>
        </ul>
            </li>
        <li><a href="#">Miedzynarodowo</a>
        <ul>
         <li><a href="#">Item1</a></li>
         <li><a href="#">Item2</a></li>
         <li><a href="#">Item3</a></li>
         <li><a href="#">Item4</a></li>
         <li><a href="#">Item5</a></li>
      </ul>
        </li>
        <li><a href="#">Polecane ksiazki</a></li>
        <li><a href="#">Formularze</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
      </ul>
  </div>





